@import url('https://fonts.googleapis.com/css2?family=Chiller&display=swap');

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Chiller', sans-serif;
  font-size: 20px; /* Tamaño de fuente aumentado para todos los elementos */
}


.container {
  text-align: center;
  color: white;
}

.options button {
    margin-bottom: 20px; /* Aumenta el espacio vertical entre los botones */
    color: white; 
  }
  
  .options {
    padding: 20px;
    color: yellow;
    size: 30px; 
  }
  

.result {
  font-size: 50px; /* Tamaño de fuente aumentado para el resultado */
  margin-top: 20px;
}


.home-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  text-decoration: none;
  font-size: 80px;
}
.home-link:hover {
  color: red;
}

#reset-button {
  font-size: 35px;
  padding: 10px 20px; /* Ajustar el relleno para mejorar el aspecto */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Agregar transición suave */
  border-radius: 25px;
  border-color: transparent;
}

#reset-button:hover {
  background-color: red;
  color: black;
  border-color: transparent;
}

#counter-table {
  font-size: 30px;
  font-weight: bold;
}

